<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title><%= post.caption %></title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
		<!-- Tailwind CSS -->    
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Public CSS -->
    <!-- <link rel="stylesheet" href="/css/posts/style.css" /> -->
    <link rel="stylesheet" href="/css/addPost/style.css" />
  </head>
  <body>
    <!-- Renders a single Post -->

      <h1 class='caption'><%= post.caption %></h1>
      <span class='author'>Author: <%= post.author%> </span>
      <% if(post.clip != '') {%>
        <div>
            <iframe src='<%= post.clip %>'></iframe>
            </div>
              <% } else { %>
                <div>
              <img src='<%= post.image%>'/>
            </div>
              <% } %>
        </div>

          <div class='likes-container'>
            <% if (post.likes) { %>
                <span class='likes'><%= post.likes %></span>
            <% } %>
            <form action="/post/<%= post._id %>/addLike?_method=PUT" method='POST'>
              <button class='submit' type="submit">
              <img style='width: 40px' src='/imgs/nun.png'/></button>
          </a></form>

          <% if(JSON.stringify(user._id ) === JSON.stringify(post.user)) {%>

            <form name='bunny'
            action="/post/<%= post._id %>/deletePost?_method=DELETE"
            method="POST"
            class="delete-post"
            >
            <button class="fa fa-trash" type='submit'></button>
          </form>
          <% } %>
        </div>
        <!-- <section class="column">
          <section class="right">
              <ul class="nav">
                  <li><a href='/feed'>Feed</a></li>
                  <li><a href='/profile'>Profile</a></li>
                  <li><a href="/auth/logout">Logout</a></li>
              </ul>
          </section>
      </section> -->
        <!-- Nav Bar -->
    <%- include('partials/main-nav') %>
        <!-- Iframe is causing page to break so nothing will show below it. Twitch allows you to directly src twitch clips SEE README -->
      <script type='text/javascript' src="js/main.js"></script>
  </body>
</html>
