<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= post.caption %></title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Public CSS -->

    <link rel="stylesheet" href="/css/post/style.css" />
  </head>
  <body>
    <!-- Renders a single Post -->
    <div class="viewport-wrap">
      <div class="vanilla-flex-row">
        <section class="wrapper">
          <div class="post-container">
            <div class="post">
              <span class="postCaption"><%= post.caption %></span>
              <% if(post.image === null) { %>
              <div class="flex justify-center">
                <iframe
                  class="twitch-clip"
                  frameborder="0"
                  src="<%= post.clip %>"
                  height="480"
                  width="720"
                  allowfullscreen="true"
                ></iframe>
              </div>
              <% } else{ %>
              <a href="/post/<%= post._id%>">
                <img class="object-contain" src="<%= post.image %>" />
              </a>
              <% } %>
            </div>
          </div>
		<div class='likes-container'>
            <% if (post.likes) { %>
                <span class='likes'><%= post.likes %></span>
            <% } %>
            <form action="/post/<%= post._id %>/addLike?_method=PUT" method='POST'>
              <button class='submit' type="submit">
              <img style='width: 40px' src='/imgs/nun.png'/></button>
          </a></form>

          <% if(JSON.stringify(user._id ) === JSON.stringify(post.user)) {%>

            <form name='bunny'
            action="/post/<%= post._id %>/deletePost?_method=DELETE"
            method="POST"
            class="delete-post"
            >
            <button class="fa fa-trash" type='submit'></button>
          </form>
          <% } %>
        </div>
        </section>
        <!-- Nav Bar -->
        <%- include('partials/main-nav') %>
      </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
