<!DOCTYPE html>
<html lang="en">
  <head>

  <!-- <script src="https://kit.fontawesome.com/7cff8bdceb.js" crossorigin="anonymous"></script> -->
  <!-- <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <!-- <link rel="manifest" href="/site.webmanifest"> -->

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Add Post</title>
  
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

  <!-- Public CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/addPost/style.css" />
  <!-- <link rel="stylesheet" href="\css\post\post-style.css">  -->
  </head>
  <body>

    <% { %>
    <div class='header'>
      <h2>This is <%= user.firstName%>'s Profile</h2>
        <p>This is my bio: <%= user.bio%></p>
        <section class="profile-pic">
          <img src='<%= user.image%>'>
          <h4>Profile Pic</h4> 
        </section>
    </div>

    <h3>ADD A POST </h3>
    <div><%= typeof msg != 'undefined' ? msg : '' %></div> <!-- an error message if an unsupported clip is uploaded -->
    <form action="/post/addPost" enctype="multipart/form-data" method="POST">
      <div>
        <label for="content">Got a Pic?</label>
        <span> Only supports: .jpg, .png, jpeg,</span>
        <input class="content" type="file" name="file" />
      </div>
      <div>
        <label for="caption">Give us a Caption</label>
        <input type="text" name="caption" placeholder="CLEVER CAPTION"/>
      </div>
      <div>
        <label for="clip">Got a Twitch Clip? Paste it here</label>
        <input type="text" name="clip" placeholder="TWITCH LINK"/>
      </div>
      <button type="submit">Upload...BOOM!</button>
    </form>
    <div class="posts">
        <p>Here are my posts:</p>
        <ul class="row list-unstyled">
            <% for(let i=0; i < post.length; i++) {%>
                <p> <%= post[i].caption %> </p>
                <a href="/post/<%= post[i]._id%>">
                  <img class="img-fluid" src="<%= post[i].image%>">
                </a>
            <% } %> 
    </div>  
    <% } %>   

    <!-- Nav Bar -->
    <%- include('partials/main-nav') %>
  


  </body>
</html>